{
  "_comment": "TEMPLATE: Replace this file with your official google-services.json downloaded from the Firebase Console (https://console.firebase.google.com). Rename or copy to 'app/google-services.json'.",
  "project_info": {
    "project_number": "000000000000",
    "firebase_url": "https://your-firebase-project-id-default-rtdb.firebaseio.com",
    "project_id": "your-firebase-project-id",
    "storage_bucket": "your-firebase-project-id.firebasestorage.app"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:000000000000:android:0000000000000000000000",
        "android_client_info": {
          "package_name": "com.aistudio.ajusta.crwpmt"
        }
      },
      "oauth_client": [
        {
          "client_id": "000000000000-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.apps.googleusercontent.com",
          "client_type": 1,
          "android_info": {
            "package_name": "com.aistudio.ajusta.crwpmt",
            "certificate_hash": "0000000000000000000000000000000000000000"
          }
        },
        {
          "client_id": "000000000000-yyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy.apps.googleusercontent.com",
          "client_type": 3
        }
      ],
      "api_key": [
        {
          "current_key": "AIzaSyYOUR_FIREBASE_WEB_API_KEY_HERE"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": [
            {
              "client_id": "000000000000-yyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy.apps.googleusercontent.com",
              "client_type": 3
            }
          ]
        }
      }
    }
  ],
  "configuration_version": "1"
}
